<form method="post" class="form-horizontal book-form" enctype="multipart/form-data">
    <input type="file" id="book-file" />
    <input type="hidden" name="file" id="file">

    {% if book.filename %}
        <span class="help-block">Don't click if you want to keep the current file.</span>
    {% endif %}

    <label for="title">Title</label>
    <input type="text" name="title" id="title" value="{{ book.title | none2blank }}" class="span8">
    <button type="button" class="btn" id="lookupTitle"><i class="icon-search"></i></button>

    <label for="title_sort">Title Sort</label>
    <input type="text" name="title_sort" id="title_sort" value="{{ book.title_sort | none2blank }}" class="span8">

    <label for="author">Author</label>
    <input type="text" name="author" id="author" value="{{ book.authors[0].name if book.authors else None | none2blank }}" class="span9" autocomplete="off">

    <label for="author_sort">Author Sort</label>
    <input type="text" name="author_sort" id="author_sort" value="{{ book.authors[0].name_sort if book.authors else None | none2blank }}" class="span9" autocomplete="off">

    <div class="row">
        <div class="span3">
            <label for="publisher">Publisher</label>
            <input type="text" name="publisher" id="publisher" value="{{ book.publishers[0].name if book.publishers else None | none2blank }}" class="span3" autocomplete="off">
        </div>

        <div class="span2">
            <label for="id_isbn">ISBN</label>
            <input type="text" name="id_isbn" id="id_isbn" class="span2" value="{{ book.id_isbn | none2blank }}">
        </div>

        <div class="span2">
            <label for="id_calibre">Calibre ID</label>
            <input type="text" name="id_calibre" id="id_calibre" class="span2" value="{{ book.id_calibre | none2blank }}">
        </div>
    </div>

    <label for="description">Description</label>
    <textarea name="description" id="description" class="span9" rows="10">{{ book.description | none2blank }}</textarea>

    <label for="tags">Tags</label>
    <input type="text" id="tags" name="fakeTags" class="input-small" autocomplete="off">


    <label for="series">Series</label>
    <input type="text" name="series" id="series" value="{% if series %}{{ series | none2blank }}{% else %}{{ book.series[0].name if book.series else None | none2blank }}{% endif %}" class="span7" autocomplete="off">

    <span class="input-prepend">
        <span class="add-on">#</span>
        <input class="span1" type="number" name="series_seq" id="series_seq" value="{% if series_seq %}{{ series_seq | none2blank }}{% else %}{{ book.series_seq | none2blank }}{% endif %}">
    </span>

    <label for="cover">Cover Image</label>
    {% if book.cover %}
        <span class="help-block">Leave blank to keep current cover.</span>
    {% endif %}

    <div id="cover-from-meta" class="hide">
        <input type="hidden" name="meta-cover" id="input-meta-cover">
        <span class="help-block">Cover taken from meta.</span>
    </div>

    <input type="file" name="cover" id="cover" />

    <label class="radio">
        <input type="radio" name="privacy" id="privacy" value="private" {% if not new and not book.public %}checked{% endif %}>
        Private
    </label>
    <label class="radio">
        <input type="radio" name="privacy" id="privacy" value="public" {% if new or book.public %}checked{% endif %}>
        Public
    </label>

    <label class="checkbox">Owned <input type="checkbox" name="owned" {% if book.owned %}checked{% endif %}></label>

    <div class="form-actions">
        <input type="hidden" name="post-submit-action" id="post-submit-action" value="">
        <button type="submit" class="btn btn-primary">Save</button>

        <div class="btn-group">
        <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">
            Save and...
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="javascript:void(0);" class="alt-save" id="save-and-add-another">add another</a>
            </li>
            <li>
                <a href="javascript:void(0);" class="alt-save" id="save-and-add-next-in-series">add next in a series</a>
            </li>
        </ul>
        </div>
    </div>
</form>

<div id="meta-modal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Found Metadata</h3>
    </div>
    <div class="modal-body">
        <p>There was some metadata in that file. Want to use any of it?</p>

        <div class="row">
            <div class="span2 meta-cover-container">
                <div id="meta-cover"><img src="/static/img/default.jpg"></div>
                <div id="meta-cover-checkbox">
                    <label class="checkbox">
                        <input type="checkbox" id="use-cover" checked="checked"> Use Cover
                    </label>
                </div>
            </div>
            <div class="span3">
                <dl>
                    <dt><label>Title <input type="checkbox" id="use-title" checked="checked"></label></dt>
                    <dd><span id="meta-title"></span></dd>
                    <dt><label>Author <input type="checkbox" id="use-author" checked="checked"></label></dt>
                    <dd><span id="meta-author"></span></dd>
                    <dt><label>Publisher <input type="checkbox" id="use-publisher" checked="checked"></label></dt>
                    <dd><span id="meta-publisher"></span></dd>
                </dl>
            </div>
        </div>

        <dl>
            <dt><label>Description <input type="checkbox" id="use-description" checked="checked"></label></dt>
            <dd><span id="meta-description"></span></dd>
        </dl>
    </div>
    <div class="modal-footer">
        <a href="#" id="cancel-meta" class="btn" data-dismiss="modal">Cancel</a>
        <a href="#" id="use-meta" class="btn btn-primary">Use Checked Fields</a>
    </div>
</div>

{% block footer_scripts %}
<link rel="stylesheet" href="{{ url_for('static', filename='js/tagmanager/bootstrap-tagmanager.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='js/tagmanager/bootstrap-tagmanager.js') }}"></script>
<script>
    (function(){
        $('#author').typeahead({
            source: function(query, process) {
                return $.get('{{ url_for("ajax_taxonomy", ttype="author") }}', {query: query}, function(data){
                    return process(data);
                });
            }
        });

        $('#publisher').typeahead({
            source: function(query, process) {
                return $.get('{{ url_for("ajax_taxonomy", ttype="publisher") }}', {query: query}, function(data){
                    return process(data);
                });
            }
        });

        $('#series').typeahead({
            source: function(query, process) {
                return $.get('{{ url_for("ajax_taxonomy", ttype="series") }}', {query: query}, function(data){
                    return process(data);
                });
            }
        });

        $('#tags').typeahead({
            source: function(query, process) {
                return $.get('{{ url_for("ajax_taxonomy", ttype="tag") }}', {query: query}, function(data){
                    return process(data);
                });
            }
        });

        $('#tags').tagsManager({
            hiddenTagListName: 'tags',
            preventSubmitOnEnter: true,
            typeahead: true,
            typeaheadAjaxSource: '{{ url_for("ajax_taxonomy", ttype="tag") }}',
            prefilled: '{{ book.get_tag_string() }}'
        });
    })();
</script>
{% endblock %}