{% extends "base_nav.html" %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="{{ url_for('recent') }}">Library</a><span class="divider">/</span></li>

        {% if taxonomy %}
            <li><a href="{{ url_for('taxonomy_terms', ttype=taxonomy.type) }}">{{ taxonomy.type | title }}</a><span class="divider">/</span></li>
            <li class="active">{{ taxonomy.name }}</li>
        {% endif %}

        {% if tag %}
            <li><a href="{{ url_for('list_tags') }}">Tags</a><span class="divider">/</span></li>
            <li class="active">{{ tag.name }}</li>
        {% endif %}

        {% if genre %}
            <li><a href="{{ url_for('list_genres') }}">Genres</a><span class="divider">/</span></li>

            {% for genre in genre.get_parents() %}
                <li><a href="{{ url_for('genre', genre=genre.slug) }}">{{  genre.name }}</a><span class="divider">/</span></li>
            {% endfor %}

            <li class="active">{{ genre.name }}</li>
        {% endif %}

        {% if series %}
            <li><a href="{{ url_for('list_series') }}">Series</a><span class="divider">/</span></li>
            <li class="active">{{ series.name }}</li>
        {% endif %}

        {% if author %}
            <li><a href="{{ url_for('list_authors') }}">Authors</a><span class="divider">/</span></li>
            <li class="active">{{ author.name }}</li>
        {% endif %}

        {% if publisher %}
            <li><a href="{{ url_for('list_publishers') }}">Publishers</a><span class="divider">/</span></li>
            <li class="active">{{ publisher.name }}</li>
        {% endif %}

        {% if recent %}
            <li class="active">Recent Books</li>
        {% endif %}

        {% if rated %}
            <li class="active">My Rated Books</li>
        {% endif %}

        {% if search %}
            <li class="active">Search Results for "{{ search }}"</li>
        {% endif %}

        {% if reading_list %}
            <input type="hidden" id="reading-list-id" value="{{ reading_list.id }}">
            <li class="active">Reading Lists<span class="divider">/</span></li>
            <li class="active">{{ reading_list.name }}</li>

            <li class="pull-right">
                <a href="{{ url_for('delete_reading_list', list_id=reading_list.id) }}">Delete This Reading List</a>
            </li>
        {% endif %}
    </ul>

    {% if hasattr(books, 'items') %}
        <div id="book-list">
            {% for book in books.items %}
                {% include 'books/list_inner.html' %}
            {% endfor %}
        </div>

        {% if books.pages > 1 %}
            {% include pagination %}
        {% endif %}
    {% elif books %}
        <div id="book-list">
            {% for book in books %}
                {% include 'books/list_inner.html' %}
            {% endfor %}
        </div>
    {% else %}
        No books found.
    {% endif %}

{% endblock %}

{% block footer_scripts %}
{% endblock %}