<div class="row row-library" data-book-id="{{ book.id }}">
    {% include 'books/book_detail.html' %}

    <div class="span2 cell-actions">
        <div class="rating" data-book-id="{{ book.id }}" data-score="{{ current_user.get_book_meta(book.id).rating }}"></div>

        <p><a href="{{ url_for('download_book', id=book.id) }}" class="btn btn-primary"><i class="icon-download-alt icon-white"></i> {{ book.get_format() }}</a></p>

        <p id="reading-list-btn">
            <div class="btn-group">
                <a href="javascript:void(0);" class="btn btn-success dropdown-toggle" data-toggle="dropdown"><i class="icon-list icon-white"></i> Lists</a>
                <ul class="dropdown-menu">
                    {% for list in current_user.reading_lists %}
                        {% set isInList = current_user.book_is_in_reading_list(list.id, book.id) %}
                        <li><a class="{% if isInList %}remove-from-reading-list{% else %}add-to-reading-list{% endif %}" href="javascript:void(0);" data-list-id="{{ list.id }}" data-book-id="{{ book.id }}">
                            <i class="icon-white {% if isInList %}icon-check{% else %}icon-blank{% endif %}"></i>

                            {{ list.name }}
                        </a></li>
                    {% endfor %}
                </ul>
            </div>
        </p>
        <p>
            <a href="javascript:void(0);" class="recommend-book-btn btn btn-warning" data-book-id="{{ book.id }}">
                <i class="icon-share icon-white"></i> Recommend</a>
        </p>
        {#{% if current_user.has_hidden_book(book.id) %}
            <p><a class="btn" href="{{ url_for('unhide_book', id=book.id, next=request.url) }}"><i class="icon-eye-open icon-white"></i> Unhide</a></p>
        {% else %}
            <p><a class="btn" href="{{ url_for('hide_book', id=book.id, next=request.url) }}"><i class="icon-eye-close icon-white"></i> Hide</a></p>
        {% endif %}#}

        {% if current_user.can_modify_book(book) %}
            <p><a href="{{ url_for('edit_book', id=book.id) }}" class="btn btn-info"><i class="icon-edit icon-white"></i> Edit</a></p>
        {% endif %}
    </div>
</div>