<div class="row row-library" data-book-id="{{ book.id }}">
    <div class="span2 cell-cover hidden-phone">
        {% if reading_list %}
            <div class="reading-list-reposition" title="Click and drag to reorder">
        {% endif %}
        <img src="{{ book.get_cover_url() }}" />
        {% if reading_list %}</div>{% endif %}
    </div>

    <div class="span8 cell-info">
        <h3>{{ book.title | safe }}</h3>
        {% if book.series %}
            <div class="book-series">
                <a href="{{ url_for('taxonomy', ttype='series', slug=book.series[0].slug) }}">
                    <span class="label label-info">{{ book.series[0].name }}</span></a>
                {% if book.series_seq %}
                    <span class="seq label">Book {{ book.series_seq }}</span>
                {% endif %}
            </div>
        {% endif %}

        {% if book.authors %}
            <h4 class="author">
                <a href="{{ url_for('taxonomy', ttype='author', slug=book.authors[0].slug) }}">
                    {{ book.authors[0].name }}
                </a>
            </h4>
        {% endif %}

        {% if book.description %}
            <div class="description">
               {{ book.description | markdown }}
            </div>
        {% endif %}

        {% for publisher in book.publishers %}
            <div class="book-publisher">
                <i class="icon-book"></i>
                <a href="{{ url_for('taxonomy', ttype='publisher', slug=publisher.slug) }}">
                    {{ publisher.name }}
                </a>
            </div>
        {% endfor %}

        {% for genre in book.genres %}
            <div class="book-genre">
                <i class="icon-folder-open"></i>
                {% for parent in genre.get_parents() %}
                    <a href="{{ url_for('taxonomy', ttype='genre', slug=parent.slug) }}">{{ parent.name }}</a>
                    <i class="icon-chevron-right"></i>
                {% endfor %}
                <a href="{{ url_for('taxonomy', ttype='genre', slug=genre.slug) }}">{{ genre.name }}</a>
            </div>
        {% endfor %}

        {% if book.tags %}
            <ul class="book-tags">
                <li><i class="icon-tags"></i></li>
                {% for tag in book.tags %}
                    <li>
                        <a href="{{ url_for('taxonomy', ttype='tag', slug=tag.slug) }}">{{ tag.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div class="span2 cell-actions">
        <div class="rating" data-book-id="{{ book.id }}" data-score="{{ current_user.get_rating(book.id) if book in current_user.rated_books else None }}"></div>

        <p><a href="{{ url_for('download_book', id=book.id) }}" class="btn btn-primary"><i class="icon-download-alt icon-white"></i> {{ book.get_format() }}</a></p>
        <p><a href="{{ url_for('edit_book', id=book.id) }}" class="btn btn-info"><i class="icon-edit icon-white"></i> Edit</a></p>


        <p id="reading-list-btn">
            <div class="btn-group">
                <a href="javascript:void(0);" class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-list icon-white"></i> Lists</a>
                <ul class="dropdown-menu">
                    {% for list in current_user.reading_lists %}
                        {% set isInList = current_user.book_is_in_reading_list(list.id, book.id) %}
                        <li><a class="{% if isInList %}remove-from-reading-list{% else %}add-to-reading-list{% endif %}" href="javascript:void(0);" data-list-id="{{ list.id }}" data-book-id="{{ book.id }}">
                            <i class="icon-white {% if isInList %}icon-check{% else %}icon-blank{% endif %}"></i>


                            {{ list.name }}
                        </a></li>
                    {% endfor %}
                </ul>
            </div>
        </p>

        <p><a class="btn btn-danger warn" data-warning="Are you sure you want to delete this book? This action is irrevocable." href="{{ url_for('delete_book', id=book.id, next=request.url) }}"><i class="icon-trash icon-white"></i> Delete</a></p>
    </div>
</div>