{% extends "base_nav.html" %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="{{ url_for('list_books') }}">Library</a><span class="divider">/</span></li>
        <li class="active">Authors</li>
    </ul>

    {% if authors %}
        <ul class="tag-list">
            {% for author in authors %}
                <li><a href="{{ url_for('author', author=author.slug) }}">{{ author.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        No authors
    {% endif %}

{% endblock %}