#content {
    margin-top: 1em;
}

.book-edit-meta {
    text-align: center;
    padding: 1em;
    border: 1px solid #ddd;
    margin-bottom: 1em;
}

.book-edit-meta .current-file {
    margin-top: 0.5em;
}

.book-form label {
    margin-top: 1em;
}