{% extends "base_nav.html" %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="{{ url_for('recent') }}">Library</a><span class="divider">/</span></li>
        <li class="active">{{ ttype | title }}</li>
        <li class="pull-right tax-list-sort">
            <a href="{{ url_for('taxonomy_terms', ttype=ttype, order='name') }}">
                {% if order == 'name' or not order %}<strong>{% endif %}
                    name
                {% if order == 'name' or not order %}</strong>{% endif %}
            </a>
            &bull;
            <a href="{{ url_for('taxonomy_terms', ttype=ttype, order='count') }}">
                {% if order == 'count' %}<strong>{% endif %}
                    count
                {% if order == 'count' %}</strong>{% endif %}
            </a>
        </li>
    </ul>

    <div class="alert alert-info">This page does not yet display hierarchical taxonomies correctly.</div>

    {% if terms %}
        <ul class="nonhierarchical-tax-list">
            {% for term in terms %}
                <li>
                    <a href="{{ url_for('taxonomy', ttype=term.type, slug=term.slug) }}">{{ term.name }}</a>
                    {% if current_user.admin %}<span class="tax-count">{{ term.count_books }}</span>{% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        No terms
    {% endif %}

{% endblock %}