<!doctype html>
<html lang="en">

<head>
    <title>pyRead</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="{{ url_for('list_books') }}">pyRead</a>

                <ul class="nav">
                    <li><a href="{{ url_for('list_tags') }}">Tags</a></li>
                    <li><a href="{{ url_for('add_book') }}">Add Book</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="content" class="container">{% block content %}{% endblock %}</div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</body>
</html>