{% extends "base.html" %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="{{ url_for('list_books') }}">Library</a><span class="divider">/</span></li>
        <li class="active">Genres</li>
    </ul>

    {% if genres %}
        <ul class="tag-list">
            {% for genre in genres %}
                <li><a href="{{ url_for('genre', genre=genre.slug) }}">{{ genre.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        No genres
    {% endif %}

{% endblock %}