{% extends "base_nav.html" %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="{{ url_for('recent') }}">Library</a><span class="divider">/</span></li>
        <li class="active">Series</li>
    </ul>

    {% include 'tax_edit_btn.html' %}

    <form method="post">
        {% include 'tax_actions.html' %}

        {% if series %}
            <ul class="tag-list">
                {% for sery in series %}
                    <li>
                        <span class="delete-checkbox" style="display:none;"><input type="checkbox" name="delete" value="{{ sery.id }}"></span>
                        <a href="{{ url_for('series', series=sery.slug) }}">{{ sery.name }}</a>
                        <span class="tax-count">{{ sery.count_books }}</span>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            No series
        {% endif %}
    </form>

{% endblock %}