{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="span4 offset4">
      <div class="well">
        <legend>Sign in to literable</legend>
        <form method="POST" action="" accept-charset="UTF-8" class="login-form">
            {% if demo %}
                <div class="alert alert-info">
                    This is a demo. Login as demo/demo.
                </div>
            {% endif %}
            {% include "messages.html" %}
            {% if next: %}
                <input type="hidden" name="next" value="{{ next }}">
            {% endif %}
            <input class="span3" placeholder="Username" type="text" name="username">
            <input class="span3" placeholder="Password" type="password" name="password">

            <div>
                <button class="btn-info btn" type="submit">Login</button>      
            </div>
        </form>    
      </div>
    </div>
</div>
{% endblock %}