{% extends "base_nav.html" %}

{% block content %}
    <h1>Incomplete Books</h1>

    {% for category, books in incomplete.iteritems() %}
        <h3>Books {{ category }}</h3>
        {% if books %}
            <ul class="unstyled">
                {% for book in books %}
                    <li><a href="{{ url_for('edit_book', id=book.id) }}" target="_blank">{{ book.title }}</a>
                    {% if book.authors %}
                        <small>by</small> <a href="{{ url_for('taxonomy', ttype='author', slug=book.authors[0].slug) }}">{{ book.authors[0].name }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% else %}
            All good!
        {% endif %}
    {% endfor %}
{% endblock %}