{% extends "base.html" %}

{%block top %}
<div class="navbar navbar navbar-static-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <a class="brand" href="{{ url_for('recent') }}">Literable</a>

            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {% if current_user.has_unread %}
                                <span class="badge-unread badge badge-success">{{ current_user.unread_count }}</span>
                            {% endif %}

                            My Books
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            {% for rlist in current_user.reading_lists %}
                                <li><a href="{{ url_for('reading_lists', rlist=rlist.slug) }}">{{ rlist.name }}</a></li>
                            {% endfor %}
                            <li class="divider"></li>
                            <li><a href="#new-list-modal" data-toggle="modal">+ New List</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ url_for('recommended') }}">
                                Recommended
                                <span class="badge-unread badge badge-success">{{ current_user.unread_count }}</span>
                            </a></li>
                            <li><a href="{{ url_for('rated') }}">Rated Books</a></li>
                            {#<li><a href="{{ url_for('hidden') }}">Hidden Books</a></li>#}
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          Browse
                          <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('taxonomy_terms', ttype='tag') }}">by Tag</a></li>
                            <li><a href="{{ url_for('taxonomy_terms', ttype='series') }}">by Series</a></li>
                            <li><a href="{{ url_for('taxonomy_terms', ttype='author') }}">by Author</a></li>
                            <li><a href="{{ url_for('taxonomy_terms', ttype='publisher') }}">by Publisher</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ url_for('random') }}">Random</a>
                    </li>
                    {% if current_user.admin %}
                        <li><a href="{{ url_for('add_book') }}">Add Book</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Admin <b class="caret"></b>
                            </a>

                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('admin_books_all') }}">All Books</a></li>
                                <li><a href="{{ url_for('admin_books_incomplete') }}">Incomplete Books</a></li>
                                <li><a href="{{ url_for('admin_books_not_owned') }}">Not Owned Books</a></li>
                                <li><a href="{{ url_for('admin_covers') }}">Covers</a></li>
                                <li><a href="{{ url_for('admin_taxonomies') }}">Taxonomies</a></li>
                                <li><a href="{{ url_for('admin_bulk_calibre_id') }}">Bulk Calibre ID Edit</a></li>
                            </ul>
                        </li>
                    {% endif %}
                    <li>
                        <form class="navbar-search pull-left" action="{{ url_for('search') }}">
                            <input type="text" class="span2 search-query" placeholder="Search" name="q" value="{{ request.args.get('q', '') }}" autocomplete="off">
                        </form>
                    </li>
                    <li>
                        <a href="{{ url_for('logout') }}">Log Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    {% include "messages.html" %}
    {% if demo %}
        <div class="alert alert-info">
            This is a demo. The library will be deleted and recreated every hour.
        </div>
    {% endif %}
</div>

<div id="new-list-modal" class="modal hide fade">
    <form method="post" action="{{ url_for('reading_lists') }}">
        <input type="hidden" name="next" value="{{ request.url }}">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>New Reading List</h3>
        </div>
        <div class="modal-body">
            <input type="text" name="name" class="span5" placeholder="List Name..." required="required">
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Cancel</a>
            <button type="submit" id="save-reading-list" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>

<div id="recommend-modal" class="modal hide fade">
    <form method="post" action="{{ url_for('recommend') }}">
        <input type="hidden" name="next" value="{{ request.url }}">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Recommend Book</h3>
        </div>
        <div class="modal-body">
            <input type="hidden" name="recommend_book_id" id="recommend_book_id"/>
            <label for="recommend_to_user">Recommend to User</label>
            <select id="recommend_to_user" name="recommend_to_user"></select>
            <label for="recommend_message">Message (optional)</label>
            <textarea id="recommend_message" name="recommend_message"></textarea>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Cancel</a>
            <button type="submit" class="btn btn-primary">Send <i class="icon-share icon-white"></i></button>
        </div>
    </form>
</div>

<div id="similar-modal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Similar Books</h3>
    </div>
    <div class="modal-body">
        Lorem
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>
</div>
{% endblock %}