{% extends "base.html" %}

{%block top %}
<div class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="{{ url_for('recent') }}">literable</a>

            <ul class="nav">
                <li><a href="{{ url_for('list_genres') }}">Genres</a></li>
                <li><a href="{{ url_for('list_tags') }}">Tags</a></li>
                <li><a href="{{ url_for('list_series') }}">Series</a></li>
                <li><a href="{{ url_for('list_authors') }}">Authors</a></li>
                <li><a href="{{ url_for('add_book') }}">Add Book</a></li>
            </ul>

            <ul class="nav pull-right">
                <li><a href="{{ url_for('reading_list') }}"><i class="icon-list icon-white"></i> Reading List</a></li>
                <li>
                    <form class="navbar-search pull-left" action="{{ url_for('search') }}">
                        <input type="text" class="span2 search-query" placeholder="Search" name="q" value="{{ request.args.get('q', '') }}" autocomplete="off">
                    </form>
                </li>
                <li>
                    <a href="{{ url_for('logout') }}">Log Out</a>
                </li>
            </uk>
        </div>
    </div>
</div>
<div class="container">
    {% include "messages.html" %}
    {% if demo %}
        <div class="alert alert-info">
            This is a demo. The library will be deleted and recreated every hour.
        </div>
    {% endif %}
</div>
{% endblock %}