<!doctype html>
<html lang="en">

<head>
    <title>Literable</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/application.js') }}"></script>
</head>

<body>
    {% block top %}{% endblock %}

    <div id="content" class="container">
      {% block content %}{% endblock %}
    </div>

    {% block footer_scripts %}{% endblock %}
    {% include "modal.html" %}
</body>
</html>