.brand {
    letter-spacing: 0.1em;
}

#content {
    margin-top: 1em;
}

.alert {
    margin-bottom: 10px;
    margin-top: 10px;
}

.alert ul {
    margin: 0;
}

.alert ul li {
    list-style-type: none;
}

.badge-unread {
    padding: 3px 6px;
    margin-right: 0.5em;
}

.row-library {
    margin-bottom: 2em;
    padding-bottom: 2em;
    border-bottom: 1px solid #ccc;
}

.row-library .cell-cover {
    text-align: center;
    margin-top: 1em;
    -webkit-box-shadow: 0 10px 20px 1px #ccc;
   -moz-box-shadow: 0 10px 20px 1px #ccc;
        box-shadow: 0 10px 20px 1px #ccc;
}

@media (max-width: 768px) {
    .row-library .cell-actions {
        margin-top: 2em;
    }

    .row-library .cell-actions .btn {
        padding: 1em;
    }
}

.row-library .cell-actions a {
    min-width: 5em;
    text-align: left;
}

.row-library .cell-actions a i {
    padding-right: 0.5em;
}

.row-library .cell-actions .rating {
    margin: 0 auto 1em auto;
}

.row-library .cell-actions .btn {
    display: block;
}

.row-library .cell-actions .btn-group {
    display: block;
}

.row-library .cell-info h3 {
    margin: 0;
    line-height: 1.2em;
}

.row-library .cell-info h4 {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.row-library .cell-info h4 a {
    font-weight: normal;
    color: #888;
    margin-top: 0;
}

.row-library .cell-info .book-series {
    margin: 0 0 0.5em 0;
}

.row-library .cell-info .hidden-label {
    vertical-align: middle;
    margin-top: -0.5em;
}

.row-library .cell-info .book-publisher {
    font-size: 90%;
    color: #666;
}

.row-library .cell-info .book-publisher a {
    margin-left: 0.35em;
}

.row-library .cell-info .length-meta {
    margin-top: 0.5em;
}

.row-library .cell-info .description ul {
    list-style-type: square;
}

.book-tags {
    list-style-type: none;
    margin-left: 0;
}

.book-tags li {
    display: inline;
    color: #666;
    margin-right: 0.5em;
    font-size: 90%;
}

#book-file {
    margin-top: 2em;
}

.book-edit-meta {
    text-align: center;
    padding: 1em;
    border: 1px solid #ddd;
    margin-bottom: 1em;
}

.book-edit-meta .current-file {
    margin-top: 0.5em;
}

.book-edit-meta .edit-delete,
.book-edit-meta .edit-write-meta {
    margin-top: 0.5em;
}

#meta-modal dt {
    border-bottom: 1px solid #ccc;
    color: #999;
}

#meta-modal dt input[type=checkbox] {
    float: right;
}

#meta-modal dd {
    margin: 0 0 1em 0;
}

#meta-cover img {
    -webkit-box-shadow: 0 10px 20px 1px #ccc;
   -moz-box-shadow: 0 10px 20px 1px #ccc;
        box-shadow: 0 10px 20px 1px #ccc;
}

#meta-cover-checkbox {
    text-align: center;
    margin-top: 1em;
}

.book-form {
    margin-bottom: 5em;
}

.book-form label {
    margin-top: 1em;
}

.nonhierarchical-tax-list {
    column-count: 4;
    -moz-column-count: 4;
    -webkit-column-count: 4;
}

@media (max-width: 980px) {
    .nonhierarchical-tax-list {
        column-count: 3;
        -moz-column-count: 3;
        -webkit-column-count: 3;
    }
}

@media (max-width: 768px) {
    .nonhierarchical-tax-list {
        column-count: 2;
        -moz-column-count: 2;
        -webkit-column-count: 2;
    }
}

@media (max-width: 480px) {
    .nonhierarchical-tax-list {
        column-count: 1;
        -moz-column-count: 1;
        -webkit-column-count: 1;
    }
}

.login-form input {
    padding: 5px 10px;
}

.delete-checkbox {
    padding: 0 0.5em 0 0;
}

.tax-actions {
}

#book-list .row {
    background: #fff;
}

.reading-list-reposition {
    cursor: move;
}

.row-library .highlight {
    font-weight: bold;
    color: darkorange;
}

.tax-count {
    font-size: 0.75em;
    color: #ccc;
}

.dropdown-menu .divider {
    border-color: #465e71;
}

.hierarchical_tax_checkboxes label {
    display: inline-block;
    margin: 0em 0 0 0.5em;
}

.hierarchical_tax_checkboxes input[type=checkbox] {
    margin: 0;
}

.book-sort a {
    border-bottom: 1px dotted;
}

.book-sort a:hover {
    text-decoration: none;

}