{% extends "base_nav.html" %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="{{ url_for('recent') }}">Library</a><span class="divider">/</span></li>
        <li class="active">Publishers</li>
    </ul>

    {% include 'tax_edit_btn.html' %}

    <form method="post">
        {% include 'tax_actions.html' %}

        {% if publishers %}
            <ul class="tag-list">
                {% for publisher in publishers %}
                    <li>
                        <span class="delete-checkbox" style="display:none;"><input type="checkbox" name="delete" value="{{ publisher.id }}"></span>
                        <a href="{{ url_for('publisher', publisher=publisher.slug) }}">{{ publisher.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            No publishers
        {% endif %}
    </form>

{% endblock %}