{% extends "base_nav.html" %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="{{ url_for('list_books') }}">Library</a><span class="divider">/</span></li>
        <li class="active">Tags</li>
    </ul>

    {% include 'tax_edit_btn.html' %}

    <form method="post">
        {% include 'tax_actions.html' %}

        {% if tags %}
            <ul class="tag-list">
                {% for tag in tags %}
                    <li>
                        <span class="delete-checkbox" style="display:none;"><input type="checkbox" name="delete" value="{{ tag.id }}"></span>
                        <a href="{{ url_for('tag', tag=tag.slug) }}">{{ tag.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            No tags
        {% endif %}
    </form>

{% endblock %}