<form method="post" class="form-horizontal book-form" enctype="multipart/form-data">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" value="{{ book.title | none2blank }}" class="span9">

    <label for="author">Author</label>
    <input type="text" name="author" id="author" value="{{ book.author | none2blank }}" class="span9" autocomplete="off">

    <label for="description">Description</label>
    <textarea name="description" id="description" class="span9" rows="10">{{ book.description | none2blank }}</textarea>

    <label for="tags">Tags</label>
    <input type="text" id="tags" name="fakeTags" class="input-small" autocomplete="off">

    
    <label for="series">Series</label>
    <input type="text" name="series" id="series" value="{{ book.series.title | none2blank }}" class="span7" autocomplete="off">

    <span class="input-prepend">
        <span class="add-on">#</span>
        <input class="span1" type="number" name="series_seq" id="series_seq" value="{{ book.series_seq | none2blank }}">
    </span>
    

    <label for="genre">Genre</label>
    <select name="genre" id="genre" class="span7">
        <option value="">-- None --</option>
        {{ genre_options(selected=book.genre_id) | safe }}
    </select>

    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#new-genre">New Genre</button>

    <div class="collapsible collapse" id="new-genre">
        <div class="well">
            <h5>New Genre</h5>

            <label for="new-genre-name">Name</label>
            <input type="text" name="new-genre-name" id="new-genre-name" class="span8">

            <label for="new-genre-parent">Parent</label>
            <select name="new-genre-parent" id="new-genre-parent" class="span8">
                <option value="">-- None --</option>
                {{ genre_options() | safe }}
            </select>

            <span class="help-block">If the new genre name is not blank, the new genre will override any genre selected above.</span>
        </div>
    </div>

    <label for="file">File</label>
    {% if book.filename %}
        <span class="help-block">Leave blank to keep current file.</span>
    {% endif %}
    <input type="file" name="file" id="file" />


    <label for="cover">Cover Image</label>
    {% if book.cover %}
        <span class="help-block">Leave blank to keep current cover.</span>
    {% endif %}
    <input type="file" name="cover" id="cover" />

    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Save</button>
      <a href="{{ url_for('list_books') }}" class="btn">Cancel</a>
    </div>
</form>

{% block footer_scripts %}
<link rel="stylesheet" href="{{ url_for('static', filename='js/tagmanager/bootstrap-tagmanager.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='js/tagmanager/bootstrap-tagmanager.js') }}"></script>
<script>
    (function(){
        $('#author').typeahead({
            source: function(query, process) {
                return $.get('{{ url_for("ajax_author") }}', {query: query}, function(data){
                    return process(data);
                });
            }
        });

        $('#series').typeahead({
            source: function(query, process) {
                return $.get('{{ url_for("ajax_series") }}', {query: query}, function(data){
                    return process(data);
                });
            }
        });

        $('#tags').typeahead({
            source: function(query, process) {
                return $.get('{{ url_for("ajax_tags") }}', {query: query}, function(data){
                    return process(data);
                });
            }
        });

        $('#tags').tagsManager({
            hiddenTagListName: 'tags',
            preventSubmitOnEnter: true,
            typeahead: true,
            typeaheadAjaxSource: '{{ url_for("ajax_tags") }}',
            prefilled: '{{ book.get_tag_string() }}'
        });
    })();
</script>
{% endblock %}