<div class="pagination pagination-large pagination-centered">
    <ul>
        <li{% if not books.has_prev %} class="disabled"{% endif %}>
            <a href="{{ url_for('list_books', page=books.prev_num) }}">&larr; Prev</a>
        </li>
        
        {%- for page in books.iter_pages() %}
            {% if page %}
                <li{% if page == books.page %} class="active"{% endif %}>
                    <a href="{{ url_for('list_books', page=page) }}">{{ page }}</a>
                </li>
            {% endif %}
        {%- endfor %}
        
        <li{% if not books.has_next %} class="disabled"{% endif %}>
            <a href="{{ url_for('list_books', page=books.next_num) }}">Next &rarr;</a>
        </li>
    </ul>
</div>