<form method="post" class="form-horizontal book-form" enctype="multipart/form-data">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" value="{{ book.title }}" class="span9">

    <label for="author">Author</label>
    <input type="text" name="author" id="author" value="{{ book.author }}" class="span9">

    <label for="tags">Tags</label>
    <input type="text" id="tags" name="fakeTags" class="input-small" autocomplete="off">

    <label for="genre">Genre</label>
    <select name="genre" id="genre" class="span9">
        <option value="">-- None --</option>
        {% for genre in genres %}
            <option value="{{ genre.id }}" {% if genre.id == book.genre_id %}selected="selected"{% endif %}>{{ genre.name }}</option>
        {% endfor %}
    </select>

    <label for="file">File</label>
    {% if book.filename %}
        <span class="help-block">Leave blank to keep current file.</span>
    {% endif %}
    <input type="file" name="file" id="file" />


    <label for="cover">Cover Image</label>
    {% if book.cover %}
        <span class="help-block">Leave blank to keep current cover.</span>
    {% endif %}
    <input type="file" name="cover" id="cover" />

    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Save</button>
      <a href="{{ url_for('list_books') }}" class="btn">Cancel</a>
    </div>
</form>

{% block footer_scripts %}
<link rel="stylesheet" href="{{ url_for('static', filename='js/tagmanager/bootstrap-tagmanager.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='js/tagmanager/bootstrap-tagmanager.js') }}"></script>
<script>
    (function(){
        $('#tags').typeahead({
            source: function(query, process) {
                return $.get('{{ url_for("ajax_tags") }}', {query: query}, function(data){
                    return process(data);
                });
            }
        });

        $('#tags').tagsManager({
            hiddenTagListName: 'tags',
            preventSubmitOnEnter: true,
            typeahead: true,
            typeaheadAjaxSource: '{{ url_for("ajax_tags") }}',
            prefilled: '{{ book.get_tag_string() }}'
        });
    })();
</script>
{% endblock %}