{% extends "base.html" %}

{% block content %}
    
    <h1>Library</h1>

    {% if books %}
        <table class="table table-striped">
            {% for book in books %}
                <tr>
                    <td><img src="{{ book.get_thumb_url() }}" /></td>
                    <td>{{ book.title }} </td>
                    <td>{{ book.author }} </td>
                    <td>
                        <a href="{{ url_for('download_book', id=book.id) }}" class="btn"><i class="icon-download-alt"></i> Download</a>
                        <a href="{{ url_for('edit_book', id=book.id) }}" class="btn"><i class="icon-edit"></i> Edit</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        No books
    {% endif %}

{% endblock %}