{% extends "base.html" %}

{% block content %}
    {% if tag or genre %}
        <ul class="breadcrumb">
            <li><a href="{{ url_for('list_books') }}">Library</a><span class="divider">/</span></li>
            {% if tag %}
                <li><a href="{{ url_for('list_tags') }}">Tags</a><span class="divider">/</span></li>
                <li class="active">{{ tag.name }}</li>
            {% endif %}

            {% if genre %}
                <li><a href="{{ url_for('list_genres') }}">Genres</a><span class="divider">/</span></li>

                {% for genre in genre.get_parents() %}
                    <li><a href="{{ url_for('list_genres', genre=genre.slug) }}">{{  genre.name }}</a><span class="divider">/</span></li>
                {% endfor %}

                <li class="active">{{ genre.name }}</li>
            {% endif %}
        </ul>
    {% endif %}

    {% if books %}
            {% for book in books %}
                <div class="row row-library">
                    <div class="span1 cell-cover">
                        <img src="{{ book.get_thumb_url() }}" />
                    </div>

                    <div class="span7 cell-info">
                        <h3>{{ book.title }}</h3>
                        <h4>{{ book.author }}</h4>

                        {% if book.genre %}
                            <div class="book-genre">
                                <i class="icon-folder-open"></i>
                                {% for genre in book.genre.get_parents() %}
                                    <a href="{{ url_for('genre', genre=genre.slug) }}">{{ genre.name }}</a>
                                    <i class="icon-chevron-right"></i>
                                {% endfor %}
                                <a href="{{ url_for('genre', genre=book.genre.slug) }}">{{ book.genre.name }}</a>
                            </div>
                        {% endif %}

                        {% if book.tags %}
                            <ul class="book-tags">
                                <li><i class="icon-tags"></i></li>
                                {% for tag in book.tags %}
                                    <li>
                                        <a href="{{ url_for('tag', tag=tag.slug) }}">{{ tag.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                    <div class="span3 cell-actions">
                        <a href="{{ url_for('download_book', id=book.id) }}" class="btn"><i class="icon-download-alt"></i> Download</a>
                        <a href="{{ url_for('edit_book', id=book.id) }}" class="btn"><i class="icon-edit"></i> Edit</a>
                    </div>
                </div>
            {% endfor %}
    {% else %}
        No books found.
    {% endif %}

{% endblock %}