#content {
    margin-top: 1em;
}

.alert ul {
    margin: 0;
}

.alert ul li {
    list-style-type: none;
}

.row-library {
    margin-bottom: 2em;
    padding-bottom: 2em;
    border-bottom: 1px solid #ccc;
}

.row-library .cell-cover {
    text-align: center;
}

.row-library .cell-actions {
    text-align: right;
}

.row-library .cell-actions a {
    min-width: 5em;
}

.row-library .cell-info {
    padding-left: 2em;
}

.row-library .cell-info h3 {
    margin: 0;
}

.row-library .cell-info .book-series {
    margin: 0 0 0.5em 0;
}

.row-library .cell-info h4 {
    font-weight: normal;
    color: #888;
    margin-top: 0;
}

.row-library .cell-info .book-genre {
    font-size: 90%;
    color: #666;
}

.row-library .cell-info .book-genre a {
    margin-left: 0.35em;
}

.book-tags {
    list-style-type: none;
    margin-left: 0;
}

.book-tags li {
    display: inline;
    color: #666;
    margin-right: 0.5em;
    font-size: 90%;
}

.book-edit-meta {
    text-align: center;
    padding: 1em;
    border: 1px solid #ddd;
    margin-bottom: 1em;
}

.book-edit-meta .current-file {
    margin-top: 0.5em;
}

.book-edit-meta .edit-delete {
    margin-top: 0.5em;
}

.book-form label {
    margin-top: 1em;
}

.tag-list {
    -webkit-column-count: 4;
}

#new-genre .well {
    margin-top: 1em;
    padding-top: 0;
}