{% extends "base.html" %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="{{ url_for('list_books') }}">Library</a><span class="divider">/</span></li>
        <li class="active">Series</li>
    </ul>

    {% if series %}
        <ul class="tag-list">
            {% for sery in series %}
                <li><a href="{{ url_for('series', series=sery.slug) }}">{{ sery.title }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        No series
    {% endif %}

{% endblock %}